@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Stick+No+Bills&family=Amatic+SC:wght@700&family=DM+Mono:wght@300;400;500&display=swap");
/* Fonts:
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Stick No Bills', sans-serif;
font-family: 'Amatic SC', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--bgc2);
}

:root {
  --bgc1: #12181b;
  --bgc2: #2b3941;
  --bgc3: #445a67;
  --bgc4: #445a67;
  --text-clr1: #edf0f1;
  --btn-clr: rgb(241, 150, 14);
  --btn-clr-hover: #f97316;
  --card-clr: #17141d;
}

/* Start Heading */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  color: var(--btn-clr);
  font-size: 30px;
  cursor: pointer;
  transition: margin-right 2s ease-in-out;
}

li,
a,
button {
  font-family: "Stick No Bills", sans-serif;
  color: var(--text-clr1);
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.cta {
  background-color: var(--btn-clr);
  border-radius: 50px;
  border: none;
  padding: 9px 25px;
  cursor: pointer;
  transition: all ls ease 0.3s;
}

.cta:hover {
  filter: drop-shadow(0px 0px 10px var(--btn-clr-hover));
}

/* End Heading */

/* Introduction + profile */

.introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.introText {
  font-family: "Amatic SC", sans-serif;
  color: var(--btn-clr-hover);
  border-radius: 15px;
  font-size: 30px;
  width: 70%; /* Adjusted width */
  transition: transform 1s;
}

.introText:hover {
  transform: translateY(-1rem);
}

.title {
  color: #faca1d;
  font-size: 60px;
}

img {
  width: 100%;
  max-width: 320px; /* Adjust the max-width as needed */
  float: left; /* Float left */
  border-radius: 1rem;
  margin-left: 100px;
  margin-top: 20px;
  outline: 5px solid var(--btn-clr-hover);
  transition: transform 2.5s;
}

img:hover {
  -webkit-filter: drop-shadow(0 0 10px var(--btn-clr-hover));
  transform: translateY(-1rem);
  cursor: pointer;
}
/* End Introduction + profile */
.leadership {
  padding: 40px 5%;
}

.leadership-title {
  letter-spacing: 3px;
  padding: 20px;
}

.leadership h2 {
  font-family: "Bebas Neue", sans-serif;
  color: var(--btn-clr);
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.leadership-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
}

.leadership-card {
  background-color: var(--bgc4);
  border-radius: 1rem;
  padding: 50px;
  width: 600px;
  transition: transform 0.5s;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 3.2);
}

.leadership-card h3 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 30px;
  color: var(--btn-clr);
  margin-bottom: 10px;
  background: none;
}

.leadership-card p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
  color: var(--text-clr1);
  line-height: 1.5;
  background: none;
}

.leadership-card:hover {
  transform: translateY(-1rem);
  transform: scale(1.1);
  background: linear-gradient(45deg, black, rgb(23, 23, 74));
}
